// Fonts
$text-font:Open Sans;
$title-font:Source Sans Pro;

// Colors
$color-1:#ffffff;
$color-2:#222222;
$color-3:#47a9ef;
$color-4:#286090;
$color-5:#ececec;
$color-6:#bfbfbf;
$color-7:#757575;
$color-8:#f9f9f9;
$color-9:#f4f7fc;
$color-10:#dae5f7;
$color-11:#2fb979;
$color-12:#e692a8;
$color-13:#cad8ef;
$color-14:rgba(0, 0, 0, 0.38);
$color-15:rgba(0, 0, 0, 0.61);

// General Variables
$space-size-1:10px;
$space-size-2:15px;
$space-size-3:30px;
$space-size-4:70px;
$space-size-5:85px;
$space-size-6:20px;
$space-size-7:300px;
$line-height:120%;
$topHeaderHeight:80px;
